<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Bank">
		<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<listener class-name="com.Bank.listeners.CustomListeners" />
	</listeners>
  <test thread-count="5" name="LogIN">
    <classes>
      <class name="com.Bank.testcases.BankManagerLoginTest"/>
    </classes>
  </test> <!-- Test -->
    <test thread-count="5" name="AddCustomer">
    <classes>
      <class name="com.Bank.testcases.AddCustomerTest"/>
    </classes>
  </test>
</suite> <!-- Suite -->
